<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
<title>系统参数配置</title>

<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
<meta http-equiv="description" content="this is my page">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<@sys.script/>
<script type="text/javascript"
	src="${path!}/view/sysconfig/sysConfig.js"></script>
</head>

<body>
	<@sys.index_top/>
	<div class="ssxx-titlessxx">&nbsp;&nbsp;&nbsp;当前位置：系统配置</div>
	<div>&nbsp;</div>

		<form style="height: auto;" id="form1">
			<div  id="contentInfo"></div>
		</form>
		<div class="spacer"></div>
		<div style="text-align: center;margin-top: 408px;">
		 <a  id="saveButton" style="margin-right: 10px;" class="easyui-linkbutton l-btn"><span class="l-btn-left"><span class="l-btn-text">确定</span></span></a>
		 
		</div>
		<div class="spacer"></div>
		<div class="spacer"></div>

	<@sys.index_bottom/>
</body>
</html>
