<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
<title>字典信息</title>

<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<@sys.script/>
<script type="text/javascript" src="${path!}/view/dict/edit.js"></script>
</head>

<body>
	<@sys.index_top/>
	<div class="ssxx-titlessxx">&nbsp;&nbsp;&nbsp;当前位置：字典管理 >> 修改</div>
	<div>&nbsp;</div>
	<input type="hidden" id="itemId" name="itemId"
		value="${dictItemInfo.itemId}" />
	<form id="form1" style="margin-top: 10px;">
		<table class="systemConfigTb"
			style="width: 38%; left: 32%; position: absolute; margin-top: 43px; border: 1px solid #DDD;">
			<tr height="40px;">
				<td style="width: 27%;">字典类型：</td>
				<td><span id="dictName"></span></td>
			</tr>
			<tr height="40px;">
				<td>字典项名称：</td>
				<td><input id="name" name="name"
					style="width: 64%;" type="text" value="" dataType="Require"
					msg="字典项名称不能为空" />
					<input type="hidden" id="dictId" /></td>
			</tr>

			<tr height="40px;">
				<td>字典项排序：</td>
				<td><input id="seq" name="seq"
					style="width: 64%;" type="text" value="" dataType="Number"
					msg="字典项排序必须为数字" /></td>
			</tr>
			<tr height="40px;">
				<td>预留字段1：</td>
				<td><input id="reserve1" name="reserve1"
					style="width: 64%;" type="text" value="" dataType="Number"
					msg="字典项排序必须为数字" /></td>
			</tr>
			<tr height="40px;">
				<td>预留字段2：</td>
				<td><input id="reserve2" name="reserve2"
					style="width: 64%;" type="text" value=""/></td>
			</tr>

			<tr height="40px;">
				<td colspan="2" align="center">
					<div style="text-align: center;">

						<a href="javascript:void(0);" id="userbutton"
							style="margin-right: 10px;" class="easyui-linkbutton l-btn"><span
							class="l-btn-left"><span class="l-btn-text">保存</span></span></a> <a
							href="javascript:void(0)" onclick="javascript:history.go(-1)"
							id="saveButton" style="margin-right: 10px;"
							class="easyui-linkbutton l-btn"><span class="l-btn-left"><span
								class="l-btn-text">返回</span></span></a>
					</div>
				</td>
			</tr>

		</table>
	</form>
	<@sys.index_bottom/>
</body>
</html>
